.game-board {
  background-color: black;
  display: inline-block;
}

.row {
  /* display: inline-block; */
}

.box {
  width: 30px;
  height: 30px;
  background-color: gray;
  display: inline-block;
  line-height: 30px;
  text-align: center;
  vertical-align: middle;
  border: white 1px solid;
}
